:root {
 --main-color: #414641;
 --secundary-color: #4c514c;
 --alt-color: #7a8a80;
 --background-color: #f4f6f3;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Utilidades */

.uppercase {
 text-transform: uppercase;
}

body{
  font-family: 'Reem Kufi Fun', sans-serif;
 
}

h1{
  color: var(--main-color);
  font-size: 78px;
  font-weight: 400;
  letter-spacing: 10px;
}

@media(max-width: 480px){
  h1{
    font-size: 50px;
    font-weight: 700;
  }
}

/* Seccion hero (header/nav) */

header{
  margin: 20px;
  width: calc(100% - 40px);
  height: calc(100vh - 40px);
  background-image: url(https://admincontent.bimobject.com/public/topbanner/805c168b-ea2e-4e37-8721-0457acf14e2f?ver=1654865658);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  text-transform: uppercase;
}

@media(max-width: 480px){
  header{
    margin: 10px;
    width: calc(100% - 20px);
    height: calc(100vh - 20px);
    background-position: center center;   
  }
}

.header-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

header p{
  color: var(--secundary-color);
  font-size: 24px;
}

.underline {
  width: 10%;
  height: 5px;
  background-color: var(--alt-color);
}

header nav a{
  text-decoration: none;
  color: var(--secundary-color);
}

.desktop-menu{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px 0px 40px;
}

@media(max-width: 480px){
  .desktop-menu{
    display: none;
  }
}

.mobile-menu{
  display: none;
}

@media(max-width: 480px){
  .mobile-menu{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
}

.nav-small{
  font-size: 12px;
}

.nav-small a{
  margin-left: 20px;
}

.btn {
  border: 2px solid var(--secundary-color);
  padding: 5px 10px;
}

.btn:hover {
  background-color: var(--secundary-color);
}

/*Seccion de articulos*/

main {
  background-color: var(--background-color);
  padding: 120px 0;
}

main div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

article {
  width: 100%;
  height: 300px;  
  background-color: #ffff;
  box-shadow: 0px 1px 7px 0px black;
}

.article-image {
  height: 50%;
  width: 100%;
  overflow: hidden;
}

.article-image img {
  width: 170%;
}

.article-content {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

@media(max-width: 480px){
  .article-content {
    height: 50%;
    width: 100%;
    
    flex-direction: row;
    
    gap: 10px;
    text-align: center;
  }
}

.cards-container {
  display: flex;
  gap: 15px;
  width: 60%;
  margin: 40px auto 0 auto;
}

/* Seccion acerca de*/

.about-section {
  display: flex;
}

.about-section > div {
  width: 50%;
}

.about-image {
  background-image: url(https://images.squarespace-cdn.com/content/v1/520bc04fe4b03863c7f8a659/1505965654689-F8EUX5I1PDVT66SJ0UU8/spiritual+gifts.jpg?format=2500w);
  background-size: cover;
  background-position: center center;
}

.about-content{
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


